@tailwind base;
@tailwind components;
@tailwind utilities;
 

input{
  outline: invert(0%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(103%) contrast(103%);
}

h2{
  font-size: 1.5rem;
  font-weight: 500; 
  line-height: 2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

h1{
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
h3{
  font-size: 2rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: black;
  height: 5rem;
  width: 100%;
  color: #fff;
  font-size: 2.5rem;
  font-weight: bolder;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  opacity: 0.9;
}

body{
  background-color: #d1d5db;
}

.personal_details,
.proffessional_details,
.refrence,
.work{
  display: grid;
  align-items: center;
  padding: 1rem;
  padding-left: 3rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  margin-right:7rem ;
  margin-left: 7rem;
  margin-top: 2rem;
  background-color: black;
  color: #fff;
  box-shadow: 15px 15px 10px 0 rgba(0, 0, 0, 0.943);
}

.personal_details{
  margin-top: 6rem;
}

.set1,
.set2,
.set3,
.set4{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5rem;
  margin-top: 1rem;
}

input{
  border: none;
  outline: none;
  padding-left: 0.5rem;
  width: 52.05%;
  color: black;
  height: fit-content;
  padding: 0.7rem;
  border-radius: 0.5rem;
  background-color: #fff;
}

#date{
  background-color: #fff;
  color: black;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 600px;
}

#calender_popup{
  background-color: black;
  color: #fff;
}

.submit{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.resume_output{
 background-color: #fff;
 display: flex;
 height: auto;
 width:63%;
 margin-bottom: 3rem;
}

.resume_whole{
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_section{
  width: 40%;
  background-color: #000;
  color: #fff;
  padding: 30px;
  text-align: left;
  height:90vh;
}

.right_section{
  width: 60%;
  background-color:#fff;
  color: #000;
  display: flex;
  padding-left: 35px;
  justify-content: left;
  flex-wrap: wrap;
}

.top-right_part{
  padding-top: 5px;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

.Bold{
  font-weight: bolder;
  
}

.about{
  margin-right: 10px;
  border-bottom: #000 solid 1px;
  padding-bottom: 15px;
  padding-top: 0.5rem;
  margin-bottom: 1rem;
}

.bottom_part1,
.bottom_part2,
.bottom_part3,
.bottom_part4,
.bottom_part5{
 margin-bottom: 5px;
}

.Resume_reference{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.Exp1,
.Exp2{
  padding-top: 10px;
}

.Exp3{
  padding-top: 10px;
  padding-bottom: 15px;
}

.Left_image{
  display: flex;
  justify-content: center;
  
}